
module.exports = {
  env: { 
    //TODO replace with HSM or an x509 certificate. https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security
    connectionString : 'HostName={name}.azure-devices.net;DeviceId={deviceid};SharedAccessKey={acesskey}',
    // az iot hub device-identity show-connection-string --hub-name {YourIoTHubName} --device-id MyNodeDevice --output table
    incomingSerialMount: '/dev/ttyACM0',
    mongodb: "{user}:{user}@{accoutn}/{database}"
  }
}